body {
  margin: 10;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.current-radar {
  padding: 15px;
}

.current-observations {
  padding: 15px;
}

.forecast-container {
  padding-bottom: 10px;
}

#forecast-image {
  margin-bottom: 3px;
}

#lat-lon-small {
  font-size: small;
}

.main-temp {
  font-size: 80px;
}

.main-temp-super {
  font-size: 1.5rem;
  margin-bottom: 16px;
  position: relative;
  top: -12px;
  vertical-align: super;
}